<form action="" method="POST">
    <span>Title</span>
    <input type="text" name="thread_title" id="thread_title" placeholder="Obligatorio">
    <span>Image</span>
    <input type="file" name="image" id="thread" placehoder="Opcional">
    <span>Message</span>
    <textarea name="thread_text" id="thread_text" cols="30" rows="10"></textarea>
    <input type="submit" value="Submit">
</form>