<form action="/login" method="post">
    <input type="email" name="user_mail" id="user-mail" placeholder="Username email">
    <input type="password" name="user_password" id="user-password" placeholder="Password">
    <input type="submit" value="Login">
</form>