<h1>Aquí va la información del usuario.</h1>

<p>Lista de threads creados por el usuario</p>
<p>Puede editarlos o borrarlos</p>

<p>Lista de comentarios creados por el usuario</p>
<p>Puede editarlos o borrarlos</p>

<p>El usuario puede borrar su cuenta</p>
<p>El usuario puede cambiar la contraseña</p>