body {
	padding: 50px;
	font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
	color: #00b7ff;
}

.thread-content,
.comment-content {
	display: flex;
	margin: 10px 0;
}

.thread-content img,
.comment-content img {
	margin-right: 50px;
}
